services:
  activepieces:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: activepieces
    restart: unless-stopped
    ## Enable the following line if you already use AP_EXECUTION_MODE with SANDBOX_PROCESS or old activepieces, checking the breaking change documentation for more info.
    ## privileged: true
    ports:
      - '80:80'
      - '443:443'
    depends_on:
      - redis
    env_file: .env
    volumes:
      - ./cache:/usr/src/app/cache
      - ./nginx.react.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt/live/ap.beamdata.ai:/etc/letsencrypt/live/ap.beamdata.ai:ro # ro: read-only
      - /etc/letsencrypt/archive/ap.beamdata.ai:/etc/letsencrypt/archive/ap.beamdata.ai:ro # ro: read-only
    networks:
      - activepieces
  redis:
    image: 'redis:7.0.7'
    container_name: redis
    restart: unless-stopped
    volumes:
      - 'redis_data:/data'
    networks:
      - activepieces
volumes:
  redis_data:
networks:
  activepieces:
